.ag-theme-balham .ag-root-wrapper{
    border: none !important;
}
.announce01 {
    background-color: #337ab7 !important;
}
.announce02 {
    background-color: #5cb85c !important;
}
.announce03 {
    background-color: #d9534f !important;
}
.requestApprovalCard {
    background-color: #f0ad4e !important;
}